.item-response {
  padding: 20px 15px 27px;
  border-radius: 10px;
  background: #FFF;
  display: flex;

  &__checkbox {
    padding-top: 15px;
    flex: 0 0 45px;
  }

  &__main {
    flex-grow: 1;
    line-height: 1.3;

    &-top {
      margin-bottom: 20px;
      display: flex;
    }
  
    &-user {
      flex-grow: 1;
      padding-right: 5px;
    }
  
    &-info {
      flex: 0 0 225px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-star {
    }

    &-bottom {
    }

    &-text {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  &__rating {
    margin-top: 15px;
  }
}

