.motivate {
  padding-bottom: 60px;
  
  &__header {
    display: flex;
    align-items: center;
  }

  &__tabs {
    &-btns {
      margin-left: 18px;
      display: flex;
    }

    &-btn {
      margin-top: 4px;
      font-weight: 500;
      color: $color-primary;
      text-decoration: underline;

      &:not(:first-child) {
        margin-left: 20px;
      }

      &.tabs-btn--active {
        color: $color-gray;
        text-decoration: none;
        cursor: default;
      }
    }

    &-list {
      &:not(:first-child) {
        margin-top: 36px;
      }
    }
  }

  &__item {
    &:not(:first-child) {
      margin-top: 30px;
    }
    
    &--20 {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }
}

@include media_max_width(680px) {
  .motivate {
    padding-top: 114px;
    padding-bottom: 30px;

    &__header {
      display: none;
    }

    &__tabs-list {
      margin-left: auto;
      margin-right: auto;
      max-width: 360px;

      &:not(:first-child) {
        margin-top: 0;
      }
    }

    &__item {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
}